h1 {
	text-align: center;
}

input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	width: 70%;
}

button {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	background-color: #3498db;
	color: white;
	margin-left: 10px;
}

button:hover {
	cursor: pointer;
	background-color: #2980b9;
}

.completed {
	text-decoration: line-through;
}

 /*DARK MODE*/
 body {
    color: #000000;
      background-color: rgb(34, 168, 27);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      transition: all 1.5s ease;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dark-mode {
      background-color: #000000;
    color: #ffffff;
      transition: all 1.5s ease;
  }
  
  .dark-mode button {
    background-color: #000000;
    color: #fdfdfd;
  }  

  /* BARRA INFERIOR*/
  body {margin:0;}
  
  #barraInferior {
  overflow: hidden;
  width: 100%;
  font-family: Arial, sans-serif;
  }
  
  #barraInferior ul {
	  list-style-type: none;
	  margin: 0 auto;
	  padding-left: 30% ;
	  overflow: hidden;
	  background-color: #252324;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  
  }
  
  #barraInferior li {
	  float: left;
	  
  }
  
  #barraInferior li a {
	  display: block;
	  color: rgb(255, 255, 255);
	  text-align: center;
      font-weight: bold;
	  padding: 14px 16px;
	  text-decoration: none;
  }
  
  #barraInferior li a:hover{
	  background-color: #32ea78;
  }
  
  #barraInferior li a:active{
	  background-color:#4CAF50;
  }
