.music-player {
    width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
  }
  
  .player-controls {
    margin-top: 10px;
  }
  
  .play-button,
  .pause-button {
    background-color: #2087ba;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .play-button:hover,
  .pause-button:hover {
    background-color: #01e6ff;
  }
  
  /*DARK MODE*/
 body {
  color: #000000;
    background-image: url(/Fondos/marshmello.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    transition: all 1.5s ease;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-mode {
    background-image: url(/Fondos/marshmelloBN.jpg);
  color: #ffffff;
    transition: all 1.5s ease;
}

.dark-mode button {
  background-color: #000000;
  color: #fdfdfd;
}  

/* BARRA INFERIOR*/
body {margin:0;}

#barraInferior {
overflow: hidden;
width: 100%;
font-family: Arial, sans-serif;
}

#barraInferior ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 30% ;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

#barraInferior li {
  float: left;
  
}

#barraInferior li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
    font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

#barraInferior li a:hover{
  background-color: #2087ba;
}

#barraInferior li a:active{
  background-color:#4CAF50;
}